<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 mx-auto">
      <div class="card shadow-lg p-3 bg-white rounded">
        <ng-select
          [items]="allIngredients$ | async"
          bindLabel="ingredient"
          (change)="onChange($event)"
          placeholder="Select one Ingredient from dropdown"
          autofocus
        >
        </ng-select>
      </div>
    </div>
  </div>

  <ng-container *ngIf="showDrinksList$ | async">
    <div class="row">
      <div class="col-sm-12 col-md-8 mx-auto">
        <div class="card shadow-lg p-3 bg-white rounded">
          <ng-select
            [items]="drinksList$ | async"
            bindLabel="name"
            placeholder="Select one cocktail from dropdown"
            autofocus
          >
          </ng-select>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="ingSubject | async as ingredient">
    <div class="row">
      <div class="col-sm-12 col-md-10 mx-auto">
        <div class="card my-3 shadow-lg p-3 bg-white rounded">
          <div class="card-body text-center">
            <h4>{{ ingredient.name }}</h4>
          </div>
          <h5>Abv</h5>
          <p>{{ ingredient.abv | noValue }}</p>
          <h5>Description</h5>
          <p>{{ ingredient.description | noValue }}</p>
        </div>
      </div>
    </div>
  </ng-container>

  <app-input-warning
    (showDrinkList)="showListForIngredient()"
    (showIngredient)="showDetails()"
    [displayOptions]="true"
    [firstWarningMessage]="
      'Select one Ingredient from the menu to view more information about it'
    "
  ></app-input-warning>
</div>
